<!-- <p>home works!</p> -->


<main>
    <div class="main-box">
        <div class="cenzor-box">
            <div class="cenzor-img"><img src="../../../assets/cenzor.png" alt=""></div>
            <h3>Angular list of prohibiten words</h3>
            <div class="cenzor-button">
                <button [routerLink]="['/works/cenzor']" routerLinkActive="active">details</button>
            </div>
        </div>
        <div class="userList-box">
            <div class="userList-img"><img src="../../../assets/user.png" alt=""></div>
            <h3>Angular user list</h3>
            <div class="userList-button">
                <button [routerLink]="['/works/userList']" routerLinkActive="router-link-active">details</button>
            </div>
        </div>
        <div class="taskList-box">
            <div class="taskList-img"><img src="../../../assets/task.png" alt=""></div>
            <h3>Angular task list</h3>
            <div class="taskList-button">
                <button [routerLink]="['/works/taskList']" routerLinkActive="active">details</button>
            </div>
        </div>

    </div>
</main>