$border-color: #e5e5dd;
$button-color: #188c39;
$active-color: #3ea872;
$changing-color: #22add4;

$head-bgcolor: #d3d6db;
$head-font: sans-serif;
$container-color: #e8e7e3;
$add-btncolor: #ebc636;
$reset-btn-color: #bf190a;
$cenzor-btn-color: #07851c;

$header-font: sans-serif;
$input-outline: rgba(71, 193, 254, 0.437);
$update-button: rgb(40, 139, 185);
$error-button: #eb4034;
$edit-button: goldenrod;
$header-font: sans-serif;
$error-text: red;
$adduser-btn: green;
$focus-bgc: #8ac4d1;
